body {
    background-color: rgb(7, 138, 72);
    color: rgb(247, 247, 247);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    max-width: 90%;
}