body {
    background-color: rgb(211, 106, 8);
    color: rgb(247, 247, 247);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #d3c614;
    color: rgb(243, 28, 28)
    font-family: "Bai Jamjuree", sans-serif;
}